@import "../../fonts";
@import "../../vars";
@import "../../extends.scss";
@import "../../mixins";

.banner {
    position: relative;
    background: url("../../../../src/assets/img/Components/main/background.png") no-repeat center center;
    &::before {
        content: url("../../../assets/img/Components/main/spot.svg");
        position: absolute;
        right: 0;
        top: 20px;
        z-index: 2;
    }
    &_info {
        display: flex;
        flex-direction: column;
        padding: 228px 100px;        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            height: 0;
            width: 0;
            border-right: 386px solid transparent;
            border-bottom: 682px solid $Primary;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 4px;
            height: 0;
            width: 0;
            border-right: 509px solid $Primary;
            border-bottom: 887px solid transparent;
        }
    }
    &_H0 {
        text-transform: uppercase;
        @include font-face(700, 96px, "Bebas Neue", $White);
        margin: 0;
        z-index: 2;
    }
    &_disc {
        z-index: 2;
        @include font-face(600, 18px, "Poppins", $White);
    }
    &_button {
        @include button(12px, 42px, -15deg, 15deg, $Secondary);
        @include font-face(700, 18px, "Poppins", $Gray_1);
        @extend url;
        text-transform: uppercase;
        margin: 40px auto 560px 1px;
        z-index: 2;
    }
}
