@import '../../fonts';
@import '../../mixins';
@import '../../vars.scss';

.paginate {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
    &__link {
        text-decoration: none;
        @include font-face(600,18px, 'Poppins', $Tetriary);
        &-active {
            padding: 1px 10px;
            background-color: $Primary;
            color: $White;
        }
    }

}