@import '../../extends.scss';

.activeSlide {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 500px;
}
 
.lastSlide, .nextSlide  {
    display: none;
}
.last{
    position: relative;
    left: -30px;
}
.next {
    position: relative;
    right: -30px;
}