@import "../../fonts";
@import "../../mixins";
@import "../../extends";
@import "../../vars.scss";

.social {
    padding: 0 100px;
    text-align: center;
    position: relative;
    overflow:hidden;
    &__h1 {
        text-align: center;
    }
    &__photos {
        &::before {
            content: '';
            position: absolute;
            width: 380.99px;
            height: 1685.65px;
            background-color: $Primary;
            transform: rotate(-46.08deg);
            left: 205px;
            top: -200px;
            z-index: -1;
        }
        &::after {
            content: url('../../../assets/img/Components/main/background.svg');
            position: absolute;
            width: 1440px;
            height: 874px;
            z-index: -2;
            top: -40px;
        }
        @extend flex;
        &__photos {
            @extend flex;
            max-width: 1150px;   
            gap: 30px;         
        }
        &__icons {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }   
    }
    &__img {
        width: 30px;
        margin-left: 50px;
        padding: 50px 0 90px;
        cursor: pointer;        
    }
}