@import "../../fonts";
@import "../../vars";
@import "../../extends";
@import '../../mixins';

.footer {
    @extend flex;
    background-color: $Gray_1;
    padding: 80px 103px;
    gap: 20px;
    &_logo {
        display: flex;
        flex-direction: column;
        p {
            padding: 20px 0 30px;
            margin: 0;
            @include font-face(500, 16px, "Poppins", $White);
        }
        &_policy {
            @include font-face(500, 14px, "Poppins", $F3);
        }
    }
    &_social {
        @extend flex;
        flex-direction: column;
        gap: 40px;
        &_mail {
            @extend flex;
            gap: 20px;
            &_url {
                @include font-face(600, 18px, "Poppins", $White);
                @extend url;
            }
        }
        &_icons {
            @extend flex;
            gap: 20px;
        }
    }
    &_phone {
        @extend flex;
        flex-direction: column;
        gap: 40px;
        &_call {
            @extend flex;
            gap: 20px;
            &_number {
                @include font-face(600, 18px, "Poppins", $White);
                @extend url;
            }
        }
        button {
            @include font-face(700, 18px, "Poppins", $Gray_1);
            @include button(12px, 50px, -15deg, 15deg);
        }
    }
}
