@import '../../fonts';
@import '../../mixins';
@import '../../extends';
@import '../../vars';

.modalCallBack {
    padding: 60px 80px;
    &__h2 {
        margin: 0 0 30px;
        text-align: center;
        @include font-face(700, 32px, 'Bebas Neue', $Primary)
    }
    &__form {
        @include font-face(500, 16px, 'Poppins', $Tetriary);
        display: flex;
        gap: 30px;
        &__p {
            margin: 0;
        }
        &__inputs, &__namePhone, &__textAria {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &__namePhone, &__textAria {
            gap: 10px;
        }
        &__text {
            padding: 19px 16px;
            border: 1px solid $inputBorderColor;
            &:focus {
                outline: none;
            }
        }
    }
    &__formConf{
        @extend flex;
        @include font-face(500, 12px, 'Poppins', $Gray);
        margin-top: 30px;
        &__conf {
            @extend flex;
            align-items: center;
            gap: 10px;
        }
        &__button {
            @include button(7px, 45px, 0, 0, $Primary);
            @include font-face(700, 18px, 'Poppins', $White);
        }
    }
    
}