@mixin button($ptb, $plr, $skew_button, $skew_span, $bgC) {
    padding: $ptb $plr;
    background-color: $bgC;
    border: none;
    transform: skewX($skew_button);
    cursor: pointer;
    span {
        transform: skewX($skew_span);
        display: block;
    }
}
