@import "./extends.scss";
@import "./fonts";
@import "./vars.scss";

.ArticlePage {
    @extend flex;
    &__single {
        width: 30%;
        gap: 30px;
        @extend url;
        &__img {
            width: 100%;
            height: 350px;
        }
        &__title {
            @include font-face(700, 32px, "Bebas Neue", $Tetriary);
        }
        &__subtitle {
            @include font-face(500, 16px, "Poppins", $Tetriary);
        }
    }
}
