@import "./vars.scss";

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s all;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &_content {
        background-color: $White;
        transform: scale(0.5);
        transition: 0.5s all;
        box-shadow: 149px 195px 98px rgba(0, 0, 0, 0.01), 84px 110px 83px rgba(0, 0, 0, 0.05),
            37px 49px 61px rgba(0, 0, 0, 0.09), 9px 12px 34px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        &.active {
            transform: scale(1);
        }
        &:after {
            content: url('./../assets/img/Components/shtrih.svg');
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
}
